<header id="header" class="header d-flex align-items-center" [ngClass]="globalService.currentUrl == '/404' ? 'd-none':''">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
       <a class="logo d-flex align-items-center" [routerLink]="globalService.activeLanguageInfo.short_lable +'/'">
         <img [src]=" globalService.S3BucketUrl + globalService.settingsInfo?.logo" alt="Me Do Re Logo" class="img-fluid" *ngIf="globalService.settingsInfo.logo">
       </a>
       <nav id="navbar" class="navbar">
         <div ngbDropdown class="language-switcher">
            <span class="me-2 ms-1" ngbDropdownToggle>{{ globalService.activeLanguageInfo?.lable }} <i class="bi bi-caret-down-fill me-3"></i></span> 
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
               <a class="dropdown-item" ngbDropdownItem *ngFor="let language of globalService.languages; let i = index" [ngClass]="globalService.activeLanguage == language.short_lable ? 'active-language':''" (click)="changeLanguage(language)"><i class="bi bi-check-lg" ></i> {{ language.lable }}</a>
            </div>
          </div>
          <div class="reg-button" (click)="globalService.gotoRegister()">{{ globalService.languageLabels?.register_your_interest_label }} <i class="bi " [ngClass]="globalService.activeLanguage == 'ar' ? 'bi-arrow-left':'bi-arrow-right'"></i></div>
       </nav>
    </div>
 </header>
 