<section id="hero" class="hero">
   <img [src]=" globalService.S3BucketUrl + globalService.banners?.jlt_community?.banner_jlt_community_top " id="bgvideo">
    <app-mobile-reg-btn></app-mobile-reg-btn>
 </section>
 <!-- End Hero Section -->
 <main id="main">
    <section id="get-started" class="get-started " data-aos="zoom-in">
       <div class="container">
          <div class="row justify-content-between gy-4">
             <div class="col-lg-12 ">
                <p class="m-auto top-text text-center"> {{ globalService.languageLabels?.jlt_community_page_top_text }} </p>
             </div>
          </div>
       </div>
    </section>
    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services pt-0">
       <div class="container" data-aos="fade-up">
          <div class="row text-center">
             <h1 class="color_black title_text"> {{ globalService.languageLabels?.jlt_community_page_experience_worth_living_label }} </h1>
          </div>
       </div>
       <div class="table-responsive">
          <div class="map_holder jltc">
             <div class="map_item map_1">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_carrefour_market_label}}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/CARREFOUR MARKET.jpg">
                </div>
             </div>
             <div class="map_item map_2">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_aster_clinic_label}}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/ASTER CLINIC.jpg">
                </div>
             </div>
             <div class="map_item map_3">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_metro_station_label}}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/METRO STATION.jpg">
                </div>
             </div>
             <div class="map_item map_4">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_tim_hortons_label}}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/TIM HORTONS.jpg">
                </div>
             </div>
             <div class="map_item map_5">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_kids_play_groun_label}}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/KIDS PLAY GROUND.jpg">
                </div>
             </div>
             <div class="map_item map_6">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_football_ground_label}}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/FOOTBALL GROUND.jpg">
                </div>
             </div>
             <div class="map_item map_7">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_zoom_market_label}}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/ZOOM MARKET.jpg">
                </div>
             </div>
             <div class="map_item map_8">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_padelx_club_label}}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/PADELX CLUB.jpg">
                </div>
             </div>
             <div class="map_item map_9">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_dog_park_label}}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/DOG PARK.jpg">
                </div>
             </div>
             <div class="map_item map_10">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_basketball_court_label}}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/BASKETBALL COURT.jpg">
                </div>
             </div>
             <div class="map_item map_11">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_pizza_hut_label}}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/PIZZA HUT.jpg">
                </div>
             </div>
             <div class="map_item map_12">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_kfc_label }}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/KFC.jpg">
                </div>
             </div>
             <div class="map_item map_13">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_emirates_nbd_bank_label }}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/EMIRATES NBD BANK.jpg">
                </div>
             </div>
             <div class="map_item map_14">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_spinneys_supermarket_label }}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/SPINNEYS SUPERMARKET.jpg">
                </div>
             </div>
             <div class="map_item map_15">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_armada_medical_center_label }}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/ARMADA MEDICAL CENTER.jpg">
                </div>
             </div>
             <div class="map_item map_16">
                <span> {{ globalService.languageLabels?.jlt_community_page_map_metro_station_dmcc_label}} </span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/METRO STATION DMCC.jpg">
                </div>
             </div>
             <div class="map_item map_17">
                <span>{{ globalService.languageLabels?.jlt_community_page_map_bus_stop_label }}</span>
                <div class="img-hover">
                   <img src="assets/media/img/JLT Community/Map Assets/BUS STOP.jpg">
                </div>
             </div>
             <img [src]=" globalService.S3BucketUrl + globalService.banners?.jlt_community?.banner_jlt_community_map_area " class="img-fluid">
          </div>
       </div>
    </section>
    <!-- End Alt Services Section -->
    <section id="list-services" class="list-services pt-0">
       <div class="container" data-aos="fade-up">
          <div class="row text-center">
             <div class="col-em-5 ">
                <div class="inner-det">
                   <img class="mt-3 imgnormal" src="assets/media/img/JLT Community/Icons/Metro station.png">
                   <img class="mt-3 imghover" src="assets/media/img/JLT Community/Icons/Metro station white.png">
                   <div class="normal_info">{{ globalService.languageLabels?.jlt_community_page_item_metro_station_label }}</div>
                   <div class="hover_info" [innerHtml]="globalService.languageLabels?.jlt_community_page_item_metro_station_label_hover_text"></div>
                </div>
             </div>
             <div class="col-em-5 ">
                <div class="inner-det">
                   <img class="mt-3 imgnormal" src="assets/media/img/JLT Community/Icons/Bus station.png">
                   <img class="mt-3 imghover" src="assets/media/img/JLT Community/Icons/Bus station white.png">
                   <div class="normal_info">{{ globalService.languageLabels?.jlt_community_page_item_bus_station_label }}</div>
                   <div class="hover_info" [innerHtml]="globalService.languageLabels?.jlt_community_page_item_bus_station_label_hover_text"></div>
                </div>
             </div>
             <div class="col-em-5">
                <div class="inner-det">
                   <img class="mt-3 imgnormal" src="assets/media/img/JLT Community/Icons/Clinics and pharmacies.png">
                   <img class="mt-3 imghover" src="assets/media/img/JLT Community/Icons/Clinics and pharmacies white.png">
                   <div class="normal_info">{{ globalService.languageLabels?.jlt_community_page_item_clinic_and_pharmacy_label }}</div>
                   <div class="hover_info" [innerHtml]="globalService.languageLabels?.jlt_community_page_item_clinic_and_pharmacy_label_hover_text"></div>
                </div>
             </div>
             <div class="col-em-5">
                <div class="inner-det">
                   <img class="mt-3 imgnormal" src="assets/media/img/JLT Community/Icons/Banks & ATM.png">
                   <img class="mt-3 imghover" src="assets/media/img/JLT Community/Icons/Banks & ATM white.png">
                   <div class="normal_info">{{ globalService.languageLabels?.jlt_community_page_item_banks_and_atms_label }}</div>
                   <div class="hover_info" [innerHtml]="globalService.languageLabels?.jlt_community_page_item_banks_and_atms_label_hover_text"></div>
                </div>
             </div>
             <div class="col-em-5">
                <div class="inner-det">
                   <img class="mt-3 imgnormal" src="assets/media/img/JLT Community/Icons/Cafe╠ü, restaurants nightlife.png">
                   <img class="mt-3 imghover" src="assets/media/img/JLT Community/Icons/Cafe╠ü, restaurants nightlife white.png">
                   <div class="normal_info">{{ globalService.languageLabels?.jlt_community_page_item_cafes_and_restaurants_label }}</div>
                   <div class="hover_info" [innerHtml]="globalService.languageLabels?.jlt_community_page_item_cafes_and_restaurants_label_hover_text"></div>
                </div>
             </div>
          
             <div class="col-em-5 ">
                <div class="inner-det">
                   <img class="mt-3 imgnormal" src="assets/media/img/JLT Community/Icons/Retails & convenient stores.png">
                   <img class="mt-3 imghover" src="assets/media/img/JLT Community/Icons/Retails & convenient stores white.png">
                   <div class="normal_info">{{ globalService.languageLabels?.jlt_community_page_item_retails_and_convienient_stores_label }}</div>
                   <div class="hover_info" [innerHtml]="globalService.languageLabels?.jlt_community_page_item_retails_and_convienient_stores_label_hover_text"></div>
                </div>
             </div>
             <div class="col-em-5 ">
                <div class="inner-det">
                   <img class="mt-3 imgnormal" src="assets/media/img/JLT Community/Icons/Education and childcare.png">
                   <img class="mt-3 imghover" src="assets/media/img/JLT Community/Icons/Education and childcare white.png">
                   <div class="normal_info">{{ globalService.languageLabels?.jlt_community_page_item_education_and_childcare_label }}</div>
                   <div class="hover_info" [innerHtml]="globalService.languageLabels?.jlt_community_page_item_education_and_childcare_label_hover_text"></div>
                </div>
             </div>
             <div class="col-em-5 ">
                <div class="inner-det">
                   <img class="mt-3 imgnormal" src="assets/media/img/JLT Community/Icons/Fitness centers.png">
                   <img class="mt-3 imghover" src="assets/media/img/JLT Community/Icons/Fitness centers white.png">
                   <div class="normal_info">{{ globalService.languageLabels?.jlt_community_page_item_fitness_centers_label }}</div>
                   <div class="hover_info" [innerHtml]="globalService.languageLabels?.jlt_community_page_item_fitness_centers_label_hover_text"></div>
                   </div>
                  </div>
             <div class="col-em-5 ">
                <div class="inner-det">
                   <img class="mt-3 imgnormal" src="assets/media/img/JLT Community/Icons/Dry cleaning.png">
                   <img class="mt-3 imghover" src="assets/media/img/JLT Community/Icons/Dry cleaning white.png">
                   <div class="normal_info">{{ globalService.languageLabels?.jlt_community_page_item_drycleaning_label }}</div>
                   <div class="hover_info" [innerHtml]="globalService.languageLabels?.jlt_community_page_item_drycleaning_label_hover_text"></div>
                </div>
             </div>
             <div class="col-em-5 ">
                <div class="inner-det">
                   <img class="mt-3 imgnormal" src="assets/media/img/JLT Community/Icons/Spa & Salon.png">
                   <img class="mt-3 imghover" src="assets/media/img/JLT Community/Icons/Spa & Salon white.png">
                   <div class="normal_info">{{ globalService.languageLabels?.jlt_community_page_item_spa_and_saloon_label }}</div>
                   <div class="hover_info" [innerHtml]=" globalService.languageLabels?.jlt_community_page_item_spa_and_saloon_label_hover_text"></div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <section id="news" class="news pt-0">
       <img [src]=" globalService.S3BucketUrl + globalService.banners?.jlt_community?.banner_jlt_community_jlt_street " class="img-fluid">
    </section>
    <section id="get-started" class="get-started pt-0 " data-aos="zoom-in">
       <div class="container">
          <div class="row justify-content-between gy-4">
             <div class="col-lg-12 ">
                <p class="m-auto top-text text-center"> {{ globalService.languageLabels?.jlt_community_page_jlt_street_text }}</p>
             </div>
          </div>
       </div>
    </section>
    <section id="get-started" class="get-started pt-0 " data-aos="zoom-in">
       <div class="container">
          <div class="row justify-content-between gy-4">
             <div class="col-lg-3 col-6">
                <div class="inner-Numbers text-center">
                   <span class="numbs">
                      <ngx-animated-counter [params]="hotels"></ngx-animated-counter>
                   </span>
                   <div class="mt-2 numb-text"> {{ globalService.languageLabels?.jlt_community_page_cafes_restaurants_and_hotels_label }} </div>
                </div>
             </div>
             <div class="col-lg-3 col-6">
                <div class="inner-Numbers text-center">
                   <span class="numbs">
                      <ngx-animated-counter [params]="fitness"></ngx-animated-counter>
                   </span>
                   <div class="mt-2 numb-text">{{ globalService.languageLabels?.jlt_community_page_fitness_and_beauty_label }}
                   </div>
                </div>
             </div>
             <div class="col-lg-3 col-6">
                <div class="inner-Numbers text-center">
                   <span class="numbs">
                      <ngx-animated-counter [params]="retails"></ngx-animated-counter>
                   </span>
                   <div class="mt-2 numb-text">{{ globalService.languageLabels?.jlt_community_page_retail_and_convenience_stores_label }}</div>
                </div>
             </div>
             <div class="col-lg-3 col-6">
                <div class="inner-Numbers text-center">
                   <span class="numbs">
                      <ngx-animated-counter [params]="educations"></ngx-animated-counter>
                   </span>
                   <div class="mt-2 numb-text">{{ globalService.languageLabels?.jlt_community_page_education_and_childcare_label }}</div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <section id="get-started" class="get-started pt-0 " data-aos="zoom-in">
       <div class="container">
          <div class="row justify-content-between gy-4">
             <div class="col-lg-4">
                <div class="text-center position-relative court-hold">
                   <img [src]=" globalService.S3BucketUrl + globalService.banners?.jlt_community?.image_jlt_community_basket_ball_court " class="img-fluid">
                   <div class="text-bottom text-start color-white px-2">
                      <div class="h3">{{ globalService.languageLabels?.jlt_community_page_basketball_court_label }}</div>
                      <div></div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="text-center position-relative court-hold">
                   <img [src]=" globalService.S3BucketUrl + globalService.banners?.jlt_community?.image_jlt_community_foot_ball_ground " class="img-fluid">
                   <div class="text-bottom text-start color-white px-2">
                      <div class="h3">{{ globalService.languageLabels?.jlt_community_page_basketball_court_label }}</div>
                      <div></div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="text-center position-relative court-hold">
                   <img [src]=" globalService.S3BucketUrl + globalService.banners?.jlt_community?.image_jlt_community_padel_court " class="img-fluid">
                   <div class="text-bottom text-start color-white px-2">
                      <div class="h3">{{ globalService.languageLabels?.jlt_community_page_padel_court_label }}</div>
                      <div></div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="text-center position-relative court-hold">
                   <img [src]=" globalService.S3BucketUrl + globalService.banners?.jlt_community?.image_jlt_community_dog_park " class="img-fluid">
                   <div class="text-bottom text-start color-white px-2">
                      <div class="h3">{{ globalService.languageLabels?.jlt_community_page_dog_park_label }}</div>
                      <div></div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="text-center position-relative court-hold">
                   <img [src]=" globalService.S3BucketUrl + globalService.banners?.jlt_community?.image_jlt_community_kids_playgound " class="img-fluid">
                   <div class="text-bottom text-start color-white px-2">
                      <div class="h3"> {{ globalService.languageLabels?.jlt_community_page_kids_playground_label }} </div>
                      <div></div>
                   </div>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="text-center position-relative court-hold">
                   <img [src]=" globalService.S3BucketUrl + globalService.banners?.jlt_community?.image_jlt_community_jogging_track " class="img-fluid">
                   <div class="text-bottom text-start color-white px-2">
                      <div class="h3">{{ globalService.languageLabels?.jlt_community_page_jogging_track_label }}</div>
                      <div></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <app-page-menu></app-page-menu>
    <app-register-form></app-register-form>
 </main>
 