<!-- <app-landing-header></app-landing-header> -->
<section class="banner-img-section">
    <div class="form-section pb-5">
        <app-register-form></app-register-form>
    </div>
    
</section>
<div class="pt-5">
    <div  class="container pt-3">
        <div  class="row text-center">
            <h2  class="color_black title_text mb-5">AN EXPERIENCE WORTH LIVING</h2>
        </div>
    </div>
    <div class="featured-main ">
        <div class="featured-images position-relative">
            <img src="../../../../assets/media/img/featured-images/luxury-living.jpg" alt="" class="">
            <!-- <h4 class="position-absolute top-50 start-50 translate-middle text-white">LUXURY LIVING</h4> -->
        </div>
        <div class="featured-images featured-img-middle position-relative">
            <img src="../../../../assets/media/img/featured-images/exclusive-amenities.jpg" alt="">
            <!-- <h4 class="position-absolute top-50 start-50 translate-middle text-white">EXCLUSIVE AMENITIES</h4> -->
        </div>
        <div class="featured-images position-relative">
            <img src="../../../../assets/media/img/featured-images/Smart-living.jpg" alt="">
            <!-- <h4 class="position-absolute top-50 start-50 translate-middle text-white">SMART LIVING</h4> -->
        </div>
        <div class="featured-images position-relative">
            <img src="../../../../assets/media/img/featured-images/stunning-view.jpg" alt="" class="">
            <!-- <h4 class="position-absolute top-50 start-50 translate-middle text-white">STUNNING VIEW</h4> -->
        </div>
        <div class="featured-images featured-img-middle position-relative">
            <img src="../../../../assets/media/img/featured-images/medore-tower.jpg" alt="">
            <!-- <h4 class="position-absolute top-50 start-50 translate-middle text-white">MEDORE TOWER</h4> -->
        </div>
        <div class="featured-images position-relative">
            <img src="../../../../assets/media/img/featured-images/MEDORE-AD-2-6.jpg" alt="">
            <!-- <h4 class="position-absolute top-50 start-50 translate-middle text-white">SMART LIVING</h4> -->
        </div>
    </div>
</div>
<!-- <div class="">
    <div class="d-flex align-items-center featured-main">
        <div class="featured-images ">
            <img src="../../../../assets/media/img/featured-images/stunning-view.jpg" alt="" class="">
        </div>
        <div class="featured-images featured-img-middle ">
            <img src="../../../../assets/media/img/featured-images/medore-tower.jpg" alt="">
        </div>
        <div class="featured-images ">
            <img src="../../../../assets/media/img/featured-images/MEDORE-AD-2-6.jpg" alt="">
        </div>
    </div>
</div> -->
<div class="make-ur-dream-section d-flex justify-content-center align-items-center">
    <div class="ovarlay-box">
        <h4 class="text-white text-center mb-5">MAKE YOUR DREAM HOME A REALITY AT THE MEDORE RESIDENTIAL TOWER</h4>
        <div class="icons-box-sec">
            <div class="icons-boxes d-flex justify-content-center align-items-center">
                <img src="../../../../assets/media/img/icons/location.png" alt="">
                <h6 class="text-white mb-0 ms-3">PRIME LOCATION: HEART OF JLT, DUBAI'S MOST DESIRABLE AREA</h6>
            </div>
            <div class="icons-boxes d-flex justify-content-center align-items-center">
                <img src="../../../../assets/media/img/icons/swimming-pool.png" alt="">
                <h6 class="text-white mb-0 ms-3">EXCLUSIVE AMENITIES: ROOFTOP POOL, FITNESS CENTER, SPA, AND MORE</h6>
            </div>
            <div class="icons-boxes d-flex justify-content-center align-items-center">
                <img src="../../../../assets/media/img/icons/lightbulb.png" alt="">
                <h6 class="text-white mb-0 ms-3">SMART LIVING SOLUTIONS: CUTTING-EDGE TECHNOLOGY FOR ULTIMATE CONVENIENCE</h6>
            </div>
            <div class="icons-boxes d-flex justify-content-center align-items-center">
                <img src="../../../../assets/media/img/icons/sofa.png" alt="">
                <h6 class="text-white mb-0 ms-3">LUXURY LIVING: EXPERIENCE UNPARALLELED COMFORT AND OPULENCE AT THE PINNACLE RESIDENCES!</h6>
            </div>
            <div class="icons-boxes d-flex justify-content-center align-items-center">
                <img src="../../../../assets/media/img/icons/binocular.png" alt="">
                <h6 class="text-white mb-0 ms-3">STUNNING VIEWS: PANORAMIC CITYSCAPE AND WATER VISTAS</h6>
            </div>
        </div>
    </div>
</div>
