<ngx-spinner bdColor="rgba(0, 0, 0, 0.9)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<app-header></app-header>
<router-outlet (activate)="onActivate($event)"></router-outlet>
<app-footer></app-footer>


<!-- <meta name="description"
        content="Me Do Re residential tower is a State-of-the-art, smart, elegant, and premium modern development. It flanks the serene community lake that rings the clusters of the Jumeirah Lakes Towers community.">
    <meta name="keywords"
        content="ME DO RE,medore,me-do-re, Jumeirah Lakes Towers, JLT, Dubai, dubai, residential, tower">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:title" content="ME DO RE">
    <meta property="og:description"
        content="Me Do Re residential tower is a State-of-the-art, smart, elegant, and premium modern development. It flanks the serene community lake that rings the clusters of the Jumeirah Lakes Towers community.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://medore.ae/">
    <meta property="og:image" content="https://medore.ae/metaData/ogp.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ME DO RE">
    <meta name="twitter:description"
        content="Me Do Re residential tower is a State-of-the-art, smart, elegant, and premium modern development. It flanks the serene community lake that rings the clusters of the Jumeirah Lakes Towers community.">
    <meta name="twitter:url" content="https://medore.ae/">
    <meta name="twitter:image" content="https://medore.ae/metaData/twitter_card.png"> -->